#services-page #container {
  height: 100%;
}
#services-page #beta {
  background: #fff;
}
#services-page #services {
  height: 100%;
  list-style: none;
  text-shadow: 0 1px 1px #fff;
  width: 260px;
}
#services-page #services li {
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  min-height: 42px;
  padding: 0 10px;
  position: relative;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
#services-page #services li #status{
  margin-left:100px;
}
#services-page #services li:hover:not(.selected) {
  background: rgba(255, 255, 255, 1.0);
}
#services-page #services li.selected .count {
  color: rgba(255, 255, 255, 0.85);
}
#services-page #operators {
  margin-bottom: 10px;
}
#services-page #operators li {
  cursor: pointer;
  position: relative;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  display: inline-block;
  border: 1px solid #DDD;
  border-radius: 30px;
  width: 60px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-size: 8pt;
  margin-left: 10px;
}
#services-page #operators li:hover:not(.selected) {
  color: rgba(23, 51, 88, 1.0);
  background: rgba(255, 255, 255, 1.0);
}
#services-page #attributes li {
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  position: relative;
  color: rgba(23, 51, 88, 0.85);
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
#services-page #attributes li:hover:not(.selected) {
  color: rgba(23, 51, 88, 1.0);
  background: rgba(255, 255, 255, 1.0);
}
#services-page #services .count {
  display: block;
  font-size: 11px;
  font-weight: normal;
  line-height: 11px;
}
#services-page #charlie-controls {
  text-align: right;
}
#services-page #search-services-form {
  background: #f8f8f8;
}
#services-page #syntax {
  height: 45px;
}
#services-page #syntax-status {
  font-size: 8pt;
  height: 12px;
  line-height: 1;
  margin: -5px 0 10px 0;
  width: 93%;
}
#services-page #service-preview {
  margin-top: -15px;
}
#services-page #members {
  height: 200px;
  margin-bottom: 20px;
}
#services-page #members li {
  display: inline-block;
  background-color: #fff;
  font-size: 8pt;
  width: 150px;
  max-width: 150px;
  height: 25px;
  max-height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
#services-page #members li span.text {
  margin-left: 5px;
}
#services-page #members li span.icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 2px;
  left: 3px;
}
#services-page #members li span.icon svg {
  width: 15px;
  height: 15px;
}
#services-page #members li span.server-name {
  max-width:65px;display:inline-block; vertical-align:middle;text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
}
#services-page #members li:hover:not(.selected) {
  background-color: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#e0e0e0));
  background: -moz-linear-gradient(#ededed, #e0e0e0);
  cursor: pointer;
}
#services-page #members li.selected {
  background: #4693FF;
  background: -moz-linear-gradient(#4693FF, #015de6);
  background: -o-linear-gradient(#4693FF, #015de6);
  background: -webkit-gradient(linear, left top, left bottom, from(#4693FF), to(#015de6));
  border-bottom: 1px solid #fff;
  color: #fff;
  text-shadow: 0 -1px 1px #1b3a65;
}
#services-page #users {
  max-height: 140px;
  list-style: none;
}
#services-page #users label {
  color: inherit;
  display: inline;
  font-size: inherit;
  font-weight: normal;
  margin-left: 2px;
}
#services-page #blank-slate {
  margin-top: -65px;
  margin-left: -225px;
  text-align: center;
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
}
#services-page #blank-slate p {
  color: rgba(0,0,0,0.4);
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 20px;
}